<script setup lang="ts"></script>

<template>
  <v-parallax
    src="https://img.freepik.com/free-photo/pastel-pink-oil-paint-textured-background_53876-108408.jpg?w=2000"
  >
    <v-container>
      <br />
      <v-row justify="center">
        <v-avatar
          icon="mdi-vuetify"
          image="https://i.pinimg.com/736x/fb/bf/01/fbbf0142d52eb9d9f59bbe85c88247ef.jpg"
          size="200"
        />
      </v-row>
      <br />
      <br />
      <v-row justify="center">
        <v-chip> วิภาวดี ดียามา (WIP) </v-chip>
      </v-row>
      <br />
      <br />
      <v-row>
        <v-col>
          <v-table>
            <thead>
              <tr>
                <th>ระดับการศึกษา</th>
                <th>ชื่อสถานศึกษา</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ประถมศึกษา</td>
                <td>โรงเรียนสุดใจวิทยา</td>
              </tr>
              <tr>
                <td>มัธยมต้น</td>
                <td>โรงเรียนหลวงพ่อปานคลองด่านอนุสรณ์</td>
              </tr>
              <tr>
                <td>มัธยมปลาย</td>
                <td>โรงเรียนหลวงพ่อปานคลองด่านอนุสรณ์</td>
              </tr>
              <tr>
                <td>มหาวิทยาลัย</td>
                <td>มหาวิทยาลัยบูรพา</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
        <v-col>
          <v-table>
            <thead>
              <tr>
                <th>รายการที่สนใจ</th>
                <th>ระดับความสนใจ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>การเรียน</td>
                <td>10%</td>
              </tr>
              <tr>
                <td>ไปเที่ยว</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>เล่นเกม</td>
                <td>30%</td>
              </tr>
              <tr>
                <td>นอนหลับ</td>
                <td>40%</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
      <br /><br />
      <v-row justify="center">
        <v-img
          max-height="300"
          max-width="500"
          src="https://img.pikbest.com/backgrounds/20191128/cartoon-black-scientist-science-experiment-background_1906856.jpg!bwr800"
        ></v-img>
      </v-row>
    </v-container>
    <br />
    <v-footer padless color="grey">
      <v-card flat tile class="text-center" color="grey">
        <v-card-text class="pt-0">
          1. Rule number 1 of life. Do what makes you happy, 2. The best
          preparation for tomorrow is doing your best today, 3. Change your
          thoughts and you change your world, 4. Try to be a rainbow in
          someone's cloud, 5. If you can’t make a mistake you can’t make
          anything, 6. A winner is a dreamer who never gives up, 7. Your time is
          limited, so don’t waste it. Find people that make your light shine
          brighter, 8. You may find the worst enemy or best friend in yourself,
          9. If the plan doesn’t work, change the plan, but never the goal, 10.
          Loving yourself isn’t vanity; it’s sanity.
        </v-card-text>

        <v-divider></v-divider>
        <v-card-text>
          {{ new Date().getFullYear() }} — <strong>WIP</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-parallax>
</template>
